/* src/App.css */

.app-container {
  min-height: 100vh;
  width: 100%;
  /* On a retiré toutes les propriétés de background ici */
  /* Elles sont maintenant gérées globalement dans index.css */
  
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  position: relative;
  z-index: 1; /* S'assure que le contenu est au-dessus du fond */
}